<a class="{{css.wrapper}}" data-checked="{{checked}}" data-frond-ref="toggle" data-frond-service="click:toggle">
  <span class="{{css.circle}}"></span>
  <input type="hidden" name="_check" value="{{checked}}">
</a>
